<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72612930-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-72612930-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Facebook Opengraph -->
    <meta property=”og:title” content="Wye & Welsh Land Rover Club | {{page_title}}" />
    <meta property="og:description" content="26th - 29th August 2021 | HR3 5LE" />
    <meta property="og:url" content="{{page_canonical}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://baskerville.wwlrc.co.uk/images/advert_low.jpg" />

    <!-- Search Engines -->
    <meta name="keywords" content="Baskerville, WWLRC, Wye &amp; Welsh, Club, Clwb, Land Rover, Clyro Court Hotel, Off Road, Cymru, ALRC, Challenge, 4x4, MSA, Competition, Trial, Results, Timetable, Location, Venue, Directions, Online, Bookings, Basky, Cymru, Brecon, ">
    <meta name="description" content="{{ page_description }}">
    <meta name="google-site-verification" content="" />
    <link rel="canonical" href="{{page_canonical}}"/>
    
    <!-- Index rules -->
    <meta name="robots" content="index,nofollow">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        

    <title>{{page_title}} | Wye & Welsh Land Rover Club</title>
    <style>
        body {
            background-image: url('images/background.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
        }

        .page-header {
            width: 100%;
            background: rgba(255, 255, 255, 0.9);
            border-bottom: 10px solid rgba(7, 122, 0, 0.8);
        }

        .navbar-custom {
            /*background-color: #077A00;*/
            /*background-color: rgba(200, 200, 200, 0.5);
            border-bottom: 10px solid rgba(7, 122, 0, 0.8);*/
        }

        .nav-item {
            border: 1px solid rgba(0, 0, 0, 0.1);
            
            
            text-align: center;
            
            padding: 0px;
            margin: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-top: 0.5em;
            padding-bottom: 0.5em;

            border-radius: 5px;

            background: #0099cc;
            color: white !important;
        }
        
        .nav-custom {
            text-decoration: none;
            padding: 5px 25px !important;
            color: white !important;
    
            font-size: 1.1em;
            line-height: 32px;
        }

        .active {
            border: 1px solid rgba(0, 0, 0, 0.5);
        }

        .nav-item:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        .nav-item:hover .nav-custom {
            color: #3c3c3c !important;
        }


        .subtitle:before {
            content: "26th - 29th August 2021 | HR3 5LE"
        }

        .body {
            width: 100%;
            border-radius: 5px;
        }

        .footer {
            position:fixed;
            bottom:0px;
            background-color: rgba(255, 255, 255, 0.9);
            width: 100%;
        }

 
        
        .header {
            display: none;
        }
        
        @media only screen and (min-width: 576px) {
            .header {
                display: flex;
            }
        }
    </style>
</head>

{%
    set breakpoints = "col-12 col-sm-12 col-md-12 col-lg-8"    
%}

<body>
    <div class="page-header">
        {% include "pages/partials/navbar.html.twig" %}
    </div>

    <div class="body">
        <div class="row justify-content-center m-2" style="margin-top: 0px;">
            <div class="{{ breakpoints }}" style="background:white; border-radius: 5px; padding-top: 20px; padding-bottom: 50px;">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer p-1" style="background:white;">
        &copy; <a href="https://wwlrc.co.uk">Wye & Welsh LRC</a> {{ "now" | date("Y") }} | <a href="https://www.facebook.com/profile.php?id=100088336113035">Facebook</a>
        <a class="float-right">Sponsored By <span class="js-sponsor"></span></a>
   </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script>
        var sponsors = [
            "Chris Hillman",
            "Caldicot Windows & Building Services",
            "Abergavenny Brake & Clutch",
            "Foundry 4x4",
            "Muddy Series 4X4 Parts",
            "Whitecliff 4X4"
        ];

        function shuffle(array) {
            let currentIndex = array.length,  randomIndex;

            // While there remain elements to shuffle.
            while (currentIndex != 0) {

                // Pick a remaining element.
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;

                // And swap it with the current element.
                [array[currentIndex], array[randomIndex]] = [
                array[randomIndex], array[currentIndex]];
            }

            return array;
        }

        shuffle(sponsors)

        var sponsor_index = -1

        function changeSponsor() {
            sponsor_index = (sponsor_index + 1) % sponsors.length
            
            $('.js-sponsor').html(sponsors[sponsor_index])
        }

        changeSponsor();
        setInterval(changeSponsor, 5000);
    </script>
</body>

</html>